
/* Cor do backgrodund, tamanho da fonte, fonte, margem interna e externa e borda de cada classe de parágrafo */

p.www {background-color:#ffff99; 
    font-family: tahoma;
    font-size: 14px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

p.ideias {background-color:#2a2a2a;
    color: white;
    font-family: tahoma;
    font-size: 14px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}
p.conceito {background-color:#99ff66;
    font-family: tahoma;
    font-size: 14px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

/* Formatação de cada h1 - sub-título */
h1.inicio {
    background-color:#ffff99;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    color:maroon;
    margin-left: 10px;
}

h1.desenvolvimento {
    background-color: #2a2a2a;
    font-family:arial;
    font-weight: bold;
    font-size: 20px;
    Color: #ffcc00;
    margin-left: 10px;
}

.implementação {
    background-color:#99ff66;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    color: maroon;
    margin-left: 10px;

}

